[Unit]
Description=Client St0r Gunicorn
After=network.target mariadb.service
Wants=mariadb.service

[Service]
Type=notify
User=administrator
Group=administrator
WorkingDirectory=/home/administrator
Environment="PATH=/home/administrator/venv/bin"
EnvironmentFile=/home/administrator/.env
ExecStart=/home/administrator/venv/bin/gunicorn \
    --workers 4 \
    --bind unix:/home/administrator/gunicorn.sock \
    --bind 0.0.0.0:8000 \
    --timeout 180 \
    --access-logfile /var/log/itdocs/gunicorn-access.log \
    --error-logfile /var/log/itdocs/gunicorn-error.log \
    --log-level info \
    config.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
