[Unit]
Description=Client St0r RMM Sync
After=network.target

[Service]
Type=oneshot
User=administrator
Group=administrator
WorkingDirectory=/home/administrator
Environment="PATH=/home/administrator/venv/bin"
EnvironmentFile=/home/administrator/.env
ExecStart=/home/administrator/venv/bin/python manage.py sync_rmm
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
