[Unit]
Description=Client St0r Task Scheduler Timer
Requires=itdocs-scheduler.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
