[Unit]
Description=Client St0r Website Monitor Check Timer
Requires=itdocs-monitor.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
