[Unit]
Description=Client St0r PSA Sync Timer
Requires=itdocs-psa-sync.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
